<!-- Loop over each object in the projects array -->
{{#each stadiums as |stadium| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/stadium/{{stadium.id}}">{{stadium.name}}</a>
    </h2>
    <p>Created by {{stadium.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{stadium.description}}
    </p>
  </div>
</div>
{{/each}}